dist/
hack/bin/*-linux-*
hack/haogstls/haogs*
internal/static/*/zz_generated_bindata*
!internal/static/haogstls/zz_generated_bindata*
!internal/pkg/cli/dockercgroup/*.go
*.deb
*.rpm
completions
manpages
internal/pkg/cli/test/*.go
patch.diff
hack/manifests/service
*.out
.scannerwork
sonar-project.properties
vendor/

go.work
go.work.sum

_output/
bin/
.task
.history

node_modules

package-lock.json

# docs site cache
docs/.vitepress/cache

# docs site build files
docs/.vitepress/dist

# docs gen
docs/backup
docs/bugreport
docs/experimental
docs/init
docs/status
docs/upgrade
docs/platform
docs/uninstall
docs/version
docs/cluster
