dist/
hack/bin/*-linux-*
hack/haogstls/haogs*
internal/static/*/zz_generated_bindata*
!internal/static/haogstls/zz_generated_bindata*
!internal/pkg/cli/dockercgroup/*.go
*.deb
*.rpm
completions
manpages
internal/pkg/cli/test/*.go
patch.diff
hack/manifests/service
*.out
.scannerwork
sonar-project.properties

go.work
go.work.sum
