name: Docs

on:
  push:
    tags:
    - 'v*'

permissions:
  contents: write

jobs:
  docs:
    name: Release
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    - name: Setup Go
      uses: actions/setup-go@v4
      with:
        go-version: 1.20.x
    - name: Cache Go Dependencies
      uses: magnetikonline/action-golang-cache@v4
      with:
        go-version-file: go.mod
    - name: Build docs
      run: |
        make doc
    - name: Publish docs
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GH_TOKEN }}
        publish_dir: ./docs
    - uses: peter-evans/create-pull-request@v4
      with:
        title: 'docs: updated docs'
        commit-message: 'docs: updated docs'
        branch: create-pull-request/docs
        signoff: true
