name: build for test

env:
  # Common versions
  GO_VERSION: '1.21'
  TZ: Asia/Shanghai

permissions: write-all

on:
  push:
    branches:
      - '*'
    paths:
      - '**.go'
      - 'go.mod'
      - '.github/**'
  pull_request:
    branches:
      - "*"
    paths:
      - '**.go'
      - 'go.mod'
      - '.github/**'
    # paths-ignore:
    #   - 'docs/**'
    #   - '*.md'
    #   - '*.yml'

jobs:
  build:
    name: "build"
    timeout-minutes: 20
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: ${{ env.GO_VERSION }}
          check-latest: true
      - name: install gox
        run: |
          echo "install gox"
          go install github.com/mitchellh/gox@latest
      - name: install task
        run: |
          echo "install task"
          go install github.com/go-task/task/v3/cmd/task@latest
      - name: install upx
        run: |
          echo "install upx"
          sudo apt-get update -qq
          sudo apt-get install -y upx
      - name: build qcadmin
        run: |
          task linux
      - name: test qcadmin
        run: |
          ./_output/qcadmin_linux_amd64 version
          sudo ./_output/qcadmin_linux_amd64 init --domain github.local --debug
